<div class="container">
  <!-- Navigation Button to go back home -->
  <div class="header">
    <button mat-stroked-button color="primary" (click)="goToHome()">
      Go to Home
    </button>
  </div>
  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Find the Nearest Hospital :
      </mat-card-title>
      <mat-card-subtitle>
        Medical Specialization : {{ specializationName }}
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form (ngSubmit)="onFindNearestHospital()">
        <!-- Autocomplete Input -->
        <mat-form-field class="full-width">
          <mat-label>Enter your address</mat-label>
          <input
            matInput
            id="autocomplete"
            placeholder="Type your address here"
          />
        </mat-form-field>

        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="onFindNearestHospital()"
            [disabled]="isLoading"
          >
            Search Nearest Hospital
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Spinner during Loading -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Hospital Details Section -->
  <mat-card *ngIf="!isReservationSuccessful && nearestHospital" class="hospital-info">
    <mat-card-header>
      <mat-card-title>Nearest Hospital Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Name:</strong> {{ nearestHospital.name }}</p>
      <p><strong>Address:</strong> {{ nearestHospital.address }}</p>
      <p><strong>City:</strong> {{ nearestHospital.city }}</p>
      <p><strong>PostCode:</strong> {{ nearestHospital.postCode }}</p>
      <p><strong>Specialization :</strong> {{ specializationName }}</p>
    </mat-card-content>
    <div class="actions">
      <mat-card-actions>
        <button mat-raised-button
                color="accent"
                (click)="onContinueReservation()"
                [disabled]="isLoading">
          Continue reservation
        </button>
      </mat-card-actions>
    </div>

  </mat-card>
