<div class="container">
  <mat-card>
    <mat-card-title>
      Find the Nearest Hospital for Specialization: {{ specializationName }}
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onFindNearestHospital()">
        <!-- Autocomplete Input -->
        <mat-form-field class="full-width">
          <mat-label>Enter your address</mat-label>
          <input
            matInput
            id="autocomplete"
            placeholder="Type your address here"
          />
        </mat-form-field>

        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="onFindNearestHospital()"
            [disabled]="isLoading"
          >
            Search Nearest Hospital
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Spinner during Loading -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Hospital Details Section -->
  <mat-card *ngIf="nearestHospital" class="hospital-info">
    <mat-card-title>Nearest Hospital Details</mat-card-title>
    <mat-card-content>
      <p><strong>Name:</strong> {{ nearestHospital?.name }}</p>
      <p><strong>Address:</strong> {{ nearestHospital?.address }}</p>
      <p><strong>City:</strong> {{ nearestHospital?.city }}</p>
      <p><strong>PostCode:</strong> {{ nearestHospital?.postCode }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onReserveBed()">
        Reserve a Bed
      </button>
    </mat-card-actions>
  </mat-card>
</div>
